h2 {
  color: white;
}

.HomePage {
  background: #757f9a;
  background: -webkit-linear-gradient(to top, #d7dde8, #757f9a);
  background: linear-gradient(to top, #d7dde8, #757f9a);
  width: 100vw;
  height: 100vh;
  animation-duration: 1s;
  animation-name: fadein;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  z-index: 1;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.grid-container {
  display: grid;
  margin: 0px;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 8px;
  grid-template-areas: "moreofwhatyoulike echotempoweekly recommended";
}

.more-of-what-you-like {
  margin: 0 auto;
  overflow: hidden;
  grid-area: moreofwhatyoulike;
  position: relative;
  text-align: center;
}

.EchoTempo-Weekly {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  grid-area: echotempoweekly;
  overflow: hidden;
  position: relative;
  justify-content: center;
}

.recommended {
  grid-area: recommended;
  text-align: center;
}
.recommended-title {
  text-align: center;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

li {
  cursor: pointer;
}
