body {
  margin: 0;
  padding: 0;
}
.InitialLandingPage {
  background: #757f9a;
  background: -webkit-linear-gradient(to bottom, #d7dde8, #757f9a);
  background: linear-gradient(to bottom, #d7dde8, #757f9a);
  
  width: 100vw;
  height: 100vh;
}

.enterButton {

  opacity: 50;
  background: transparent;
  color: white;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 50px;
  margin: auto;
  border: none;
  animation-duration: 5s;
  animation-name: fadein;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
}

.footer {
  display: flex;
  position: absolute;
  bottom: 8%;
  color: white;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.enterButton:hover {
  cursor: pointer;
}

.outerCircle {
  display: flex;
  background-color: transparent;
  border: 8px solid #d7dde8;
  opacity: 0.9;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  border-radius: 100px;
  width: 183px;
  height: 183px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  justify-content: center;
  animation-duration: 2s;
  animation-name: fadein;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation: spinoffPulse 2s infinite ease-in-out;
}
.innerCircle {
  display: flex;
  background-color: transparent;
  border: 5px solid #d7dde8;
  opacity: 0.9;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 92px;
  height: 92px;
  margin: auto;
  position: absolute;
  justify-content: center;
  animation-duration: 2s;
  animation-name: fadein;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  animation: spinoffPulse 2s infinite ease-in-out;
}
.innerInnerCircle {
  display: flex;
  background-color: transparent;
  border: 5px solid rgba(38, 53, 253, 0.876);
  opacity: 0.9;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-radius: 100px;
  top: 0px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 137px;
  height: 137px;
  margin: auto;
  position: absolute;
  justify-content: center;
  animation-duration: 2s;
  animation-name: fadein;
  /* -webkit-animation-name: fadein;
  -moz-animation-name: fadein; */
  animation: spinonPulse 2s infinite ease-in-out;
}

@keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spinonPulse {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

/* @-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes spinoffPulse {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spinonPulse {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
} */
