/* TODO Add site wide styles */
body {
  font-family: "Open Sans", Arial, Helvetica Neue, sans-serif;
}

.nav-links {
  display: flex;
  padding: 0 10px;
  justify-content: flex-end;
  align-items: center;
}
