.signUpForm {
  background: #232526;
  background: -webkit-linear-gradient(to right, #414345, #232526);
  background: linear-gradient(to right, #414345, #232526);
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  margin: 0;
  text-align: center;
  animation-duration: 1s;
  animation-name: fadein;
  -webkit-animation-name: fadein;
  -moz-animation-name: fadein;
  padding-top: 10px;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

@-webkit-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@-moz-keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

input {
  padding: 10px;
  border-radius: 18px;
  border: none;
  font-weight: 400;
  width: 250px;
  text-align: center;
  margin: 10px;
}

input:focus {
  outline: none;
}

.form-title {
  font-weight: 500;
  font-size: 36px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.signup-button {
  font-weight: 500;
  height: 2em;
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 18px;
  background-color: transparent;
  border: white solid 1px;
  color: white;
  margin: 10px;
  font-size: 1em;
  cursor: pointer;
  width: 300px;
}

.errors {
  display: flex;
  color: red;
  justify-content: center;
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 100;
  margin: auto;
  left: 5px;
}
