.form-container {
  color: white;
  height: 40%;
  width: 40%;
  margin: auto;
  margin-top: 15%;
  text-align: center;
  padding: 20px;
  animation-duration: 1s;
  animation-name: fadein;
}

@keyframes fadein {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

.form-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

input {
  padding: 10px;
  border-radius: 18px;
  border: none;
  font-weight: 400;
  width: 70%;
  text-align: center;
  margin: 10px;
}

input:focus {
  outline: none;
}

.form-title {
  font-weight: 500;
  font-size: 36px;
  color: white;
  padding: 10px;
  margin-bottom: 10px;
}
.cancel-button {
  font-weight: 500;
  height: 2em;
  padding: 0 20px;
  margin: 0 10px;
  border-radius: 15px;
  background-color: transparent;
  border: white solid 1px;
  color: white;
  margin: 10px;
  font-size: 1em;
  cursor: pointer;
  width:40%;
}
