/* .nav-links {
  display: flex;
  padding: 10px;
  justify-content: right;
}

.navbar {
  background-color: #333;
  display: flex;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content: flex-end;
  justify-items: space-evenly;
} */

.bottomNavBar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  bottom: 0;
  width: 100%;
}
