* {
  overflow-x: hidden;
}

.bottomAudioBar {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.upload,
.upload:hover,
.upload:focus {
  color: black;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
}

.homeLink,
.homeLink:hover,
.homeLink:focus {
  color: black;
  text-decoration: none;
  font-style: italic;
  font-size: 30px;
  align-items: right;
}

.profile-button {
  display: flex;
  justify-content: right;
}

.settings-button {
  background: transparent;
  font-size: 30px;
}

li {
  list-style-type: none;
}
ul {
  margin: 0;
  padding: 0;
  border: 0;
}

nav {
  background: #666d83;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  justify-content: space-around;
}

.nav-links {
  display: flex;
  padding: 10px;
  width: 100%;
  padding: 0;
  justify-content: space-around;
}
